footer.footer
	.container
		.six.columns
			a(href='//sahay.us' target='_blank') &copy; Sahay
		.six.columns.right
			h6 
				a(href="//madewithlove.org.in" target="_blank") Made with 
					i.fa.fa-heart.heart
					|  in India